body {
	font: 14px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #000000;
	padding: 0 50px 20px 50px;
	margin: 0;
	background-color: #FFFFFF;
}

a:link {
	text-decoration: none;
	color: #0000CC;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0.9em 0;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em;
}

input,
label {
    vertical-align: top;
}

p, ul, ol {
	margin: 1em 0;
}

pre {
    margin: 0;
	font-family: courier, monospace; 
}


code {
	font-family: courier, monospace;
	padding: 0 2px;
}

.al_r {
	text-align: right;
}

.val_t {
    vertical-align: top;
}

#logo {
    margin-bottom: 0px;
}

#logo .beta {
    font-size: 10px;
    color: #FF0000;
    position: relative;
    top: 15px;
    left: -35px;
}

.slogan {
    margin-top: 10px;
    font-size: 0.88em;
    line-height: normal;
}

/*regex pane*/

.regex-pane {
    width: 100%;
    min-width: 900px;
}

.regex-pane ul {
    margin: 0;
    padding-left: 10px;
}

.regex-pane td {
    padding: 20px 10px 0 0;
}

.regex-label {
    width: 100px;
    text-align: right;
}

.regex-label a,
.regex-label strong {
    padding-right: 15px;
    background: url('../images/arrows.gif') no-repeat right 0;
}

.regex-label a.open,
.regex-label a.hide {
   cursor: pointer;
   color: #0000CC;
   font-weight: bold;
   text-decoration: none;
   background-position: right -14px;
}

.regex-label a.hide {
    background-position: right bottom;
}

.error-msg {
    color: #FF0000;
    float: right;
}

.processing {
    background-color: #80c0ff;
}

.match {
    background-color: #00CC00;
}

.fail {
    background-color: #f04000;
    color: #FFFFFF;
}


.invalid-field {
    border-color: #FF0000 !important;
}

#regex-field,
.regex-match input,
#regexp {
    width: 100%;
    padding: 5px 0; 
    font-size: 1.5em;
    border: 1px solid #000000;
    border-radius: 3px;
}


/* Smart textarea */
.smart-textarea {
    position: relative;
    width: 100%;
    height: 255px;
    border-radius: 3px;    
    border: 1px solid #000000;
    overflow: auto;
}

.smart-textarea textarea,
.smart-textarea pre {
    position: absolute;
    dislpay: block;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 14px;  
    line-height: 17px; 
    overflow: hidden;
}

.smart-textarea textarea {
    height: 100%;
    border: 0;
    resize: none;
    outline: none; 
    display: block;
    background-color: transparent;                           
}

.smart-textarea pre {
    min-height: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;    
    color: #FFFFFF;
}

.smart-textarea pre .match {
    color: #00CC00;
}
/* END Smart Textarea */


#debug-holder {
    line-height: 17px;
}

.line-number {
    display: inline-block;
    padding: 0 5px;
    min-width: 30px;
    text-align: right;
    background-color: #E5E5E5;
}

/*reference table*/
.reference-tbl {
    border: 1px solid #000000;
    background-color: #E5E5E5;
}

.reference-tbl td {
    padding: 5px;
}

.reference-tbl .altBg td {
    background-color: #F9F9F9;
}

/*regex highlight color*/
#regexp {font-family: Monospace;}
#regexp b, .regex i, .regex u {font-weight: normal; font-style: normal; text-decoration: none;}
#regexp b {background: #aad1f7;}
#regexp i {background: #f9ca69;}
#regexp i b {background: #f7a700;}
#regexp i u {background: #efba4a;}
#regexp b.g1 {background: #d2f854;}
#regexp b.g2 {background: #9ec70c;}
#regexp b.g3 {background: #ecc9f7;}
#regexp b.g4 {background: #54b70b;}
#regexp b.g5 {background: #b688cf;}
#regexp b.err {background: #ff4300;}


